* {
  background-color: rgb(179, 175, 175);
  margin: 0;
  padding: 0;
}

.form-div {
  align-items: center;
  text-align: center;
  position: relative;
  top: 150px;
}

.small-div {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.count h4{
  padding: 10px;
  margin: 8px 0 0 620px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 175px;
  text-align: start;
}
.input input {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  width: 175px;
  font-size: 20px;
}
.input ::placeholder {
  color: black;
}

.check input {
  width: 40px;
  height: 20px;
  cursor: pointer;
}


.delete {
  padding: 6px;
  border: 2px solid gray;
  background-color: red;
  font-size: 15px;
  cursor: pointer;
  margin-top: 8px;
  transition: transform 0.2s ease, background-color 0.3s ease;
}
.delete:hover {
  background-color: rgb(166, 48, 48);
}

table {
  width: 40%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-left: 450px;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th,
td {
  background-color: rgb(105, 103, 103);
}

td {
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.td-items {
  text-decoration: line-through red;
  color: grey;
}
.delete {
  padding: 2px 20px;
  border: 2px solid red;
  background-color: red;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}
td button:hover {
  background-color: rgb(163, 3, 3);
}

.td-input input {
  padding: 14px;
  border: 2px solid black;
}
